---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout>
  <section class="hero-section">
    <div class="container">
      <h1>LSTK Production</h1>
      <p>Металлоконструкции премиум-класса</p>

      <div class="hero-actions">
        <a class="btn-primary">Получить расчёт</a>
      </div>
    </div>
  </section>
</BaseLayout>
